* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --burgerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;

    --background_color: rgb(255, 253, 208);
    --main_color: rgb(53, 98, 116);
    --secondary_color: #2f7575;
    --nav_height: 100px;
}

body {
    background: rgb(185, 150, 33);
}

label {
    color: aliceblue;
}

p{
    line-height: 1.5;
    margin-bottom: 20px;
    color: aliceblue;
    font-family: "Times New Roman", Times, serif;
}

h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
    font-family: "Times New Roman", Times, serif;
}

a {
    color: #ccc;
}


nav {
    height: var(--nav_height);
    width: 100%;
    background-color: var(--background_color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid grey;
}

#index_nav {
    width: 700px;
}

#grid_wrapper_index {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 150px 550px 300px minmax(80px, 150px);
    grid-template-areas: 
    "se1 se1"
    "se2 se4"
    "se3 se3"
    "foo foo"
    ;
    gap: 2px;
}

footer {
    grid-area: foo;
    height: 100%;
    background-color: var(--secondary_color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_1 {
    grid-area: se1;
    height: 100%;
    background-color: var(--secondary_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section_2 {
    grid-area: se2;
    height: 100%;
    background-color: var(--main_color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

#sec2_text {
    justify-content: center;
}

.spaced {
    margin-bottom: 10px;
}

h2.spaced {
    text-align: center;
}

#section_3 {
    grid-area: se3;
    height: 100%;
    background-color: var(--main_color);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sec3_text {
    text-align: center;
    font-size: 1.5rem;
}

#image_gallery {
    padding: 20px;
    justify-content: center;
}

#gallery_img {
    height: 200px;
    width: 275px;
    border-style: ridge;
    border-radius: 5px;
    border-width: 10px;
    border-color: rgb(45, 45, 37);
}

.arrow_img {
    display: none;
} 

#section_4 {
    grid-area: se4;
    height: 100%;
    background-color: var(--main_color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


#link_list {
    background: var(--background_color);
    display: flex;
    flex-direction: column;
    height: 400px;
    position: absolute;
    top: -400px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    z-index: 1;
    border: 1px solid grey;
}


#burger {
    margin-right: 20px;
    position: relative;
}

#burger_line_2 {
    width: calc(var(--burgerline_width) - 8px);
}

.links_visible {
    transform: translateY(500px);
}

#link_list a {
    text-decoration: none;
    color: rgb(116, 66, 50);
    font-weight: bold;
    font-size: 1.40rem;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    width: 200px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link_list a:hover {
    background: grey;
    color: black;
}

.burger_line {
    width: var(--burgerline_width);
    height: var(--burgerline_height);
    margin: var(--burgerline_margin);
    background: darkgreen;
    border-radius: 20%;
    transition: all 0.5s;
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_1 {
    transform: translateY(calc(var(--burgerline_height) + var(--burgerline_margin))) rotate(45deg);
}

.burger_in_x_form #burger_line_3 {
    transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
}

/* Början av article.html kodning allmänt */

#grid_wrapper_article {
    height: calc(200vh - 100px);
    display: grid;
    grid-template-columns: 550px;
    grid-template-rows: 100px 550px 550px 550px 550px 550px 550px minmax(125px, 200px);
    grid-template-areas: 
    "art1"
    "art2"
    "art3"
    "art4"
    "art5"
    "art6"
    "art7"
    "foo"
    ;
    gap: 2px;
}

#article_nav {
    width: 550px;
}

article {
    display: grid;
    align-content: center;
    background-color:  var(--main_color);
}

#grid_wrapper_article .article-card {
    width: 500px;
}

#article_1 { 
    grid-area: art1;
    height: 100%;
    background-color: var(--secondary_color);
    display: flex;
    align-items: center;
    justify-content: center;
}


#article_2 {
    grid-area: art2;
    height: 100%;
    display: flex;
    position: relative;
}

.article-card {
    max-width: 100%;    
    height: 90%;
    border: 3px solid #11f194;
    border-radius: 8px;
    overflow: scroll;
    flex-direction: column;
    margin: 20px;
    background-color: var(--secondary_color);
    word-wrap: break-word;

  }
  
  .article-card img {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #ccc;
  }

  .article-card-content {
    color: aliceblue;
    padding: 10px;
  }

  #article-card_1 {
    position: absolute;
    bottom: 0;
    box-shadow: -10px 10px 3px rgba(0, 0, 0, 0.911);
  }

#article_3 {
    grid-area: art3;
    height: 100%;
    display: flex;
    position: relative;
    align-content: center;
}

#article-card_2 {
    position: absolute;
    bottom: 0;
    box-shadow: 0px 15px 3px rgba(0, 0, 0, 0.911);
  }

#article_4 { 
    grid-area: art4;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    position: relative;
}

#article-card_3 {
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.911);
}

#article_5 {
    grid-area: art5;
    height: 100%;
    display: flex;
    position: relative;
}

#article-card_4 {
    position: absolute;
    top: 0;
    box-shadow: -10px 10px 3px rgba(0, 0, 0, 0.911);
}

#article_6 { 
    grid-area: art6;
    height: 100%;
    display: flex;  
    position: relative;

}

#article-card_5 {
    position: absolute;
    top: 0;
    box-shadow: -10px 10px 3px rgba(0, 0, 0, 0.911);
}

#article_7 {
    grid-area: art7;
    height: 100%;
    padding-right: 50px;
    position: relative;
}

#article-card_6 {
    position: absolute;
    left: 0;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.911);
}


/* contacts.html början */

.grid-wrapper-contacts {
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 550px;
    grid-template-rows: 100px 300px 400px minmax(125px, 200px);
    grid-template-areas: 
    'hea'
    'form'
    'map'
    'foo'
    ;
    gap: 2px;
}

#contacts_nav {
    width: 550px;
}

header.grid-item {
    grid-area: hea;
    height: 100%;
}

.contact-form {
    grid-area: form;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--main_color);
    align-items: center;
    justify-content: center;
    font-size: 18px;
    box-sizing: border-box;
}

button {
    width: 50px;
    height: 25px;
    background-color: #11f194;
    border-radius: 20px;
    justify-self: end;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%; /* Make the input box width 100% of its container */
    padding: 10px; /* Add padding to the input box */
    margin-bottom: 10px; /* Add some space between input boxes */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#map-container {
    grid-area: map;
    height: 400px;
    width: 100%;
}



#map-and-head {
    grid-area: map;
    background-color: var(--main_color);
    margin-top: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.grid-item {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: var(--secondary_color);
}


#grid_wrapper_events {
    height: calc(120vh - 100px);
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 100px 1250px minmax(125px, 200px);
    grid-template-areas: 
    'hed'
    'eve'
    'foo'
    ;
    gap: 2px;
}

#events_nav {
    width: 500px;
}

.head-events {
    grid-area: hed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary_color);
}

.event-container {
    grid-area: eve;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px; /* Space between cards */
    padding: 20px;
    background-color: var(--main_color);
}

.event-card {
    background-color: var(--secondary_color);
    border: 1px solid var(--background_color);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0; /* Remove padding */
    width: 100%; /* Fixed width for each card */
    height: auto; /* Change height to auto to accommodate content */
    position: relative; /* Position relative for absolute positioning of the image */
}

.event-info {
    margin-bottom: 20px; /* Add margin to create space between content and image */
    color: aliceblue;
}

.event-card img {
    width: 100%;
    height: auto; /* Set height to auto to maintain aspect ratio */
    padding: 0;
    margin: 0;
}


@media screen and (min-width: 896px) {

    nav {
        width: 100%;
    }

    p{
        line-height: 1.6;
    }

    .spaced {
        margin-bottom: 20px;
    }

    p.spaced {
        width: 700px;
    }

    h2.spaced {
        text-align: center;
    }

    .burger_line {
        display: none;
    }

    #grid_wrapper_index {
        height: calc(115vh - 200px);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 200px 1fr 0.8fr minmax(125px, 200px);
        grid-template-areas: 
        "se1 se1"
        "se2 se4"
        "se3 se3"
        "foo foo"
        ;
    }

    #link_list {
        flex-direction: row;
        top: 0px;
        justify-content: space-evenly;
        width: 100%;
        height: var(--nav_height);
    }

    nav {
        justify-content: center; 
    }

    #index_nav {
        width: 100%;
    }

    #link_list a:hover {
        background: transparent;
        color: black;
    }

    #section_3 {
        position: relative;
    }

    #image_gallery_img {
        display: flex;
        flex-direction: row;
        align-items: center; 

    }

    #gallery_img {
        height: 300px;
        width: 350px;
    }

    .arrow_img {
        display: block;  
        width: 45px;
        height: 40px;
        margin: 10px;
    }

    .welcome_text {
        display: block;
        text-align: center;
        
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }



    /* Början av article.html styling för desktop */

    #grid_wrapper_article {
        height: calc(150vh - 100px);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 125px 800px 800px minmax(125px, 200px);
        grid-template-areas: 
        "art1 art1 art1"
        "art2 art3 art4"
        "art5 art6 art7"
        "foo foo foo"
        ;
    }

    #article_nav {
        width: 100%;
    }

    #grid_wrapper_article article {
        justify-content: center;
    }

    .article-card {
        max-width: 450px;
        overflow: hidden;
    }

    .article-card img {
        height: 300px;
    }



    /* contacts.html början för desktop */

    .grid-wrapper-contacts {
        height: calc(100vh - 100px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 500px minmax(125px, 200px);
        grid-template-areas: 
        'hea'
        'form'
        'foo'
        ;
    }

    #contacts_nav {
        width: 100%;
    }

    .map-and-form {
        grid-area: form;
        height: 100%;
        display: flex;
        flex-direction: row;
        background-color: var(--main_color);
        align-items: center;
        justify-content: space-evenly;
        font-size: 18px;
        box-sizing: border-box;
    }

    #map-container {
        grid-area: form;
        height: 400px;
        width: 500px;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        width: 150%;
    }
    
    /* Början av events.html för desktop  */

    #grid_wrapper_events {
        height: calc(120vh - 100px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 125px 900px minmax(125px, 200px);
        grid-template-areas: 
        'hed'
        'eve'
        'foo'
        ;
        gap: 2px;
    }

    #events_nav {
        width: 100%;
    }

    .head-events {
        background-color: var(--secondary_color);
    }
    
    .event-container {
        grid-area: eve;
        flex-direction: row;
        padding: 50px;
    }

    
    .event-card {
        width: 100%; 
        height: 100%; 
        position: relative;
    }

    .event-container img {
        position: absolute;
        top: 0;
        border-radius: 5px;
        width: 100%;
        overflow: hidden;
    }
    
    .event-info {
        position: absolute;
        bottom: 0;
        margin-bottom: 60px; /* Add margin to create space between content and image */
    }

    .event-title {
        margin-bottom: 20px;
    }
}