*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --burgerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;

    --background_color: rgb(255, 253, 208);
    --main_color: rgb( 30, 153, 141);
    --nav_height: 100px;
}

body{
    background: rgb(185, 150, 33);
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

h2{
    font-size: 1.6rem;
}


nav {
    height: var(--nav_height);
    width: 100%;
    background-color: var(--background_color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 2px solid grey;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 300px 300px 300px minmax(100px, 200px);
    grid-template-areas: 
    "se1"
    "se2"
    "se3"
    "se4"
    "foo"
    ;
    gap: 2px;
}

footer{
    grid-area: foo;
    height: 100%;
    background-color: rgb(41, 116, 108);
}

#section_1{
    grid-area: se1;
    height: 100%;
    background-color: var(--main_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#section_2{
    grid-area: se2;
    height: 100%;
    background-color: var(--main_color);
}

#section_3{
    grid-area: se3;
    height: 100%;
    background-color: var(--main_color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image_gallery {
    padding: 10px;
    justify-content: center;
}

#gallery_img{
    height: 200px;
    width: 250px;
}

.arrow_img {
    display: none;
} 

#section_4{
    grid-area: se4;
    height: 100%;
    background-color: var(--main_color);
}

#link_list {
    background: var(--background_color);
    display: flex;
    flex-direction: column;
    height: 400px;
    position: absolute;
    top: -400px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    z-index: 1;
    border: 1px solid grey;
}


#burger{
    margin-right: 20px;
    position: relative;
}

#burger_line_2{
    width: calc(var(--burgerline_width) - 8px);
}







.links_visible {
    transform: translateY(500px);
}

#link_list a {
    text-decoration: none;
    color: rgb(255, 128, 0);
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    width: 200px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link_list a:hover {
    background: grey;
    color: black;
}

.burger_line {
    width: var(--burgerline_width);
    height: var(--burgerline_height);
    margin: var(--burgerline_margin);
    background: darkgreen;
    border-radius: 20%;
    transition: all 0.5s;
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_1 {
    transform: translateY(calc(var(--burgerline_height) + var(--burgerline_margin))) rotate(45deg);
}

.burger_in_x_form #burger_line_3 {
    transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
}

/* Början av article.html kodning allmänt */

.card {
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    flex-direction: column;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(10, 10, 87);
    word-wrap: break-word;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
  }

  .card-content {
    padding: 20px;
    color: aliceblue;
  }

#article_1{
    grid-area: art1;
    height: 100%;
    background-color: var(--main_color);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#article_2{
    grid-area: art2;
    height: 100%;
    background-color: orange;
    padding-left: 120px;
}

#article_3{
    grid-area: art3;
    height: 100%;
    background-color: var(--main_color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#article_4{
    grid-area: art4;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
}
#article_5{
    grid-area: art5;
    height: 100%;
    background-color: var(--main_color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#article_6{
    grid-area: art6;
    height: 100%;
    background-color: var(--main_color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#article_7{
    grid-area: art7;
    height: 100%;
    background-color: var(--main_color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article_img{
    width: 150px;
    height: auto;

}


@media screen and (min-width: 896px){
    .burger_line{
        display: none;
    }

    #grid_wrapper_index{
        height: calc(100vh - 100px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 350px 450px minmax(125px, 1fr);
        grid-template-areas: 
        "se1 se2"
        "se3 se4"
        "foo foo"
        ;
    }

    #link_list{
        flex-direction: row;
        top: 0px;
        justify-content: space-evenly;
        width: 100%;
        height: var(--nav_height);
    }

    nav{
        justify-content: center; 
    }

    #link_list a:hover {
        background: transparent;
        color: black;
    }

    img{
        overflow: hidden;
    }

    #image_gallery{
        justify-content: center; 

    }

    #gallery_img{
        height: 325px;
        width: 400px;
    }

    .arrow_img{
        display: initial;   
        bottom: 80px;
        width: 50px;
        height: auto;
        margin: 10px;
    }

    .welcome_text{
        display: block;
        padding: 10px;
        text-align: center;
        position: relative;
        bottom: 40px;
    }

    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2rem;
    }

    .sec2_text{
        position: relative;
        top: 90px;
        text-align: center;
        width: 420px;
        margin-left: 200px;
    }

    /* Början av article.html styling för desktop */

    #grid_wrapper_article{
        height: calc(125vh - 100px);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 300px 450px minmax(100px, 1fr);
        grid-template-areas: 
        "art1 art1 art1"
        "art2 art3 art4"
        "art5 art6 art7"
        "foo foo foo"
        ;
    }

}